[Unit]
Description=Install Chameleon IPA Hardware Manager
After=network-online.target
Before=ironic-python-agent.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/chameleon-ipa-hardware-manager-sync
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target ironic-python-agent.service
